img{
  height: 40px;
  margin-left: 30px;
}
a{
  color: white;
  font-size: 18px;
  font-weight: 500;
  
}
.nav-link{
  margin-left: 50px;
}
.nav-link:hover{
  text-decoration: underline;
  /* text-decoration: wavy; */
}
