.profile{
  text-align: center;
  background-color: #222;
  color: white;
  height: auto;
  border-radius: 10px;
  
}
.profile{
  margin-right: 1px;
  
}
h4{
  text-align: center;
}
.profile-details{
  background-color: #222;
  color: white;
  border-radius: 10px;
  height: 360px;
}
li{
  list-style: none;
  padding-top: 5%;
}
/* .profile-details{
  padding-left: 5px;
} */
img{
  padding-top: 10px;
}
h2{
  padding-top: 20px;
}