<div class="formSearch">
<form action="" class="search-bar form-group">
	<input type="search" name="search"pattern=".*\S.*"required (keyup.enter)="getUser(userName)"required [(ngModel)]="userName" name="userName">
	<button class="search-btn" type="submit" (keyup.enter)="getUser(userName)">
		<span>Search</span>
	</button>
</form>
</div>
<!-- form -->
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="profile">
      <img src="{{profile.avatar_url}}" alt="" class="img-fluid rounded-circle">
      <h2>{{profile.name}}</h2>
      <em><p>{{profile.login}}</p></em>
    </div>
  </div>
    <div class="col-md-8">
      <div class="profile-details">
        <h4>User Details</h4> 
        <div class="container">
          <div class="row all-details"  *ngIf="profile">
            <div class="col-md-4">
              <ul>
                <li>
                  Username: {{profile.login}}
                </li>
                <li>
                  Followers: {{profile.followers}}
                </li>
                <li>
                  Following: {{profile.following}}
                </li>
                <li>
                  Location: {{profile.location}}
                </li>                
              </ul>
            </div>
            <div class="col-md-4">
              <ul>
                <li>
                 <a href="{{profile.html_url}}">Github</a>
                </li>
                <li>
                  Twitter: {{profile.twitter_username}}
                </li>
                <li>
                  Hireable: {{profile.hireable}}
                </li>
                <li>
                  Joined: {{profile.created_at | date}}
                </li>                   
              </ul>
            </div>
          </div>
        </div>        
      </div>      
    </div>
  </div>
</div>