<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="profile">
      <!-- <img src="{{profile.avatar_url}}" alt="" class="img-fluid rounded-circle"> -->
      <!-- <h2>Collins Sirwani</h2> -->
    </div>
  </div>
    <div class="col-md-7">
      <div class="profile-details">
        <h4>User Details</h4> 
        <ul>
          <li>
            <!-- {{profile.name}} -->
          </li>
          <li>
            <!-- Followers: 2 -->
          </li>
          <li>
            <!-- Following: 2 -->
          </li>
          <li>
            <!-- Repositories: 20 -->
          </li>
          <li>
            <!-- Github: <a href="https://github.com/sircollo">sircollo</a> -->
          </li>
        </ul>
      </div>      
    </div>
  </div>
</div>